:root {
    --card-width: 325px;
    --card-height: 670px;
    --card-radius: 25px;
    --seperator-height: 450px;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px, 1fr;
    background-image: url(assets/libraryBackground.jpg);
    background-size: cover;
}

.welcome {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-content: center;
    font-family: 'Merriweather', serif;
    font-size: 80px;
    -webkit-text-stroke: 2px black;
    color: #dddd9e;
}

#library {
    display: grid;
    justify-items: center;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.bookCard {
    background-color: #e9edc9;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-radius);
    perspective: 500px;
    overflow: hidden;
}

.bookCover {
    background-color: #ccd5ae;
    position: relative;
    left: -50%;
    height: var(--seperator-height);
    width: calc(var(--card-width) * 2);
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    z-index: 4;
    transition: 1s ease-in-out;
}

.bookTop {
    position: absolute;
    top: 80px;
    left: calc(var(--card-width) - 100px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
    justify-content: center;
    border-radius: 2px;
    background-color: #3d4387;
    width: 200px;
    height: 300px;
    z-index: 5;
    transform: translateZ(62.5px);
    font-family: 'Merriweather', serif;
    text-align: center;
}

.bookSide {
    position: absolute;
    top: 381px;
    left: calc(var(--card-width) - 100px);
    background-image: url(assets/bookSide.svg);
    background-size: cover;
    width: 200px;
    height: 60px;
    transform: translateY(-25px) translateX(0px) translateZ(34px) rotateX(104deg);
    filter: invert(23%) sepia(55%) saturate(1002%) hue-rotate(203deg) brightness(94%) contrast(88%);
}

.bookInfo {
    background-color: #fefae0;
    height: var(--seperator-height);
    transition: 1s ease-in-out;
}

.bookCover:hover {
    transform: rotateX(76deg) translateZ(3px) scale(0.75);
}

.bookCover:hover + .bookInfo {
    transform: translateY(-223px);
}
